{% load static %}

<footer class="footer">
    <div class="max-width">
        <!--copyright-->
        <div class="copyright">
            <a href="#home">Copyright©2021</a>
        </div>
        <!--End of copyright-->
        <!--social-->
        <div class="social">
            <ul>
                <li><a target="_blank" href="https://github.com/dunnohowtoplay"><img src="{% static 'images/github.png' %}" alt="" width="
                    75px" height="60px"></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/triefauzan/"><img src="{% static 'images/linkedin.png' %}" alt="" width="
                    80px" height="55px"></a></li>
            </ul>
        </div>
        <!--End of social-->
    </div>
</footer>