{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>triefauzan | Junior Software Developer</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="box1">
            <img class="photo" src="{% static 'images/photo.jpg' %}" alt="">
            <div class="hdr-content">
                <div class="user">
                    <img class="icon" src="{% static 'images/user.png' %}" alt="">
                    <h2>Trie Fauzan Febriyansyah</h2>
                    <p>Junior Software Developer</p>
                </div>
                <hr>
                <div class="home">
                    <img class="icon" src="{% static 'images/home.png' %}" alt="">
                    <h3>Kuningan, West Java, Indonesia</h3>
                </div>
                <hr>
                <div class="home">
                    <img class="icon" src="{% static 'images/email.png' %}" alt="">
                    <h3>ftriefauzan@gmail.com</h3>
                </div>
            </div>
        </div>
        <div class="box2">
            <p>Software developer focus on Python for scripting, Web Developer using Django framework with MySQL database for backend and use Bootstrap for frontend. I can code in Javascript but my main focus is with Python. Currently learning anything about software developer targeting for junior software developer position.</p>
        </div>
        <div class="box3">
            <div class="expertise">
                <span class="tag">Python</span>
                <span class="tag">Javascript</span>
                <span class="tag">Sql</span>
                <span class="tag">Django</span>
                <span class="tag">Git</span>
                <span class="tag">API</span>
            </div>
            <div class="resume">
                <p><a href="{% static 'resume.pdf' %}">Download resume</a> or visit my <a target="_blank" href="https://www.linkedin.com/in/triefauzan/">LinkedIn</a></p>
            </div>
        </div>
        <div class="box4">
            <div class="project">
                {% for post in posts %}
                    <div class="card">
                        <img class="images" src="{{post.thumbnail.url}}" alt="">
                        <div class="content">
                            <h2 class="post-title">{{post.headline}}</h2>
                            <p class="post-intro">{{post.sub_headline}}</p>
                            <hr>
                            <p align="center"><a href="{% url 'project' post.slug %}">View detail</a></p>
                            <hr>
                            {% for tag in post.tags.all %}
                                <span class="tag">{{tag}}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if request.user.is_staff %}
                <p align="center"><a href="{% url 'addProject' %}">Add Project</a></p>
            {% endif %}
        </div>
        <div class="box5">
            <div class="contact-section">
                <h1>Contact Me</h1>
                <h5>I’ll be glad to work with you</h5>
                <form class="contact-form" method="POST" action="{% url 'send_email' %}">
                    {% csrf_token %}
                    <input required type="text" class="contact-form-text" placeholder="Name" name="name">
                    <input required type="email" class="contact-form-text" placeholder="Email" name="email">
                    <input required type="text" class="contact-form-text" placeholder="Subject" name="subject">
                    <textarea required class="contact-form-text" placeholder="Message" name="message"></textarea>
                    <input type="submit" class="contact-form-btn" value="Send">
                </form>
              </div>
        </div>
    </div>
</body>
</html>