{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>triefauzan</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <!-- HOME  -->
    <Section id="home">
            {% include 'portfolio_app/navbar.html' %}
            <!-- Content -->
            <div class="home-content">
                <div class="home-img">
                    <img src="{% static 'images/photo.jpg' %}" alt="" width="400" height="400">
                </div>
                <div class="home-text">
                    <p>
                        Hello,
                        <br>I'm <span>triefauzan</span>
                        <br>Software Developer
                        <br><small>based in Indonesia</small>
                    </p>
                </div>
            </div>
            <!-- End of Content -->
            <!-- Scroll Icon -->
            <div class="scroll-icon">
                <a href="#about"><img src="{% static 'images/scroll-down.png' %}" alt=""></a>
            </div>
            <!-- End of Scroll Icon -->
    </Section>
    <!-- End of HOME -->

    <!-- ABOUT -->
    <section id="about">
        <div class="main-container">
            <div class="about">
                <!-- About Me -->
                <div class="about-me">
                    <h2>About me</h2>
                    <p>Software developer focus on Python for scripting, Web Developer using Django framework with MySQL database for backend and use Bootstrap for frontend. I can code in Javascript but my main focus is with Python. Currently learning anything about software developer targeting for junior software developer position.</p>

                </div>
                <!-- End of About Me -->
                <!-- Look What I can do -->
                <div class="skills">
                    <div class="skills-header">
                        <h2>Skills</h2>
                    </div>
                    <div class="skills-leftcolumn">
                        <ul>
                            <li>Python</li>
                            <li>Javascript</li>
                            <li>MySQL</li>
                            <li>Web Development</li>
                            <li>Bootstrap</li>
                        </ul>
                    </div>
                    <div class="skills-rightcolumn">
                        <ul>
                            <li>Django</li>
                            <li>HTML/CSS</li>
                            <li>API</li>
                            <li>Git</li>
                        </ul>
                    </div>
                </div>
                <!-- End of Look What I can do -->
                <!-- Download resume -->
                <div class="resume-container">
                    <img src="{% static 'images/scroll-down.png' %}" alt=""><br>
                    <a target="_blank" href="{% static 'resume.pdf' %}" class="resume">Download Resume</a>
                </div>
                <!-- End of Download resume -->
            </div>
        </div>
    </section>
    <!-- End of ABOUT -->

    <!-- PROJECTS -->
    <section id="projects">
        <div class="content">
            <div class="images">
                <div class="wrapper">
                    <div class="carousel owl-carousel">
                        <div class="card card-1">
                            <div class="cardimg">
                                <img src="{% static 'images/default.jpg' %}" alt="" width="100%" height="100%">
                            </div>
                            <div class="cardtxt">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt sunt officia odio deserunt labore nam maxime delectus earum ad consectetur? Modi porro animi exercitationem, praesentium amet debitis labore quis doloremque.
                                </p>
                            </div>
                            <div class="cardcodebutton">
                                <a href="#" class="button">CODE</a>
                            </div>
                            <div class="carddetailbutton">
                                <a href="#" class="button">DETAIL</a>
                            </div>
                        </div>
                        <div class="card card-1">
                            <div class="cardimg">
                                <img src="{% static 'images/default.jpg' %}" alt="" width="100%" height="100%">
                            </div>
                            <div class="cardtxt">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt sunt officia odio deserunt labore nam maxime delectus earum ad consectetur? Modi porro animi exercitationem, praesentium amet debitis labore quis doloremque.
                                </p>
                            </div>
                            <div class="cardcodebutton">
                                <a href="#" class="button">CODE</a>
                            </div>
                            <div class="carddetailbutton">
                                <a href="#" class="button">DETAIL</a>
                            </div>
                        </div>
                        <div class="card card-1">
                            <div class="cardimg">
                                <img src="{% static 'images/default.jpg' %}" alt="" width="100%" height="100%">
                            </div>
                            <div class="cardtxt">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt sunt officia odio deserunt labore nam maxime delectus earum ad consectetur? Modi porro animi exercitationem, praesentium amet debitis labore quis doloremque.
                                </p>
                            </div>
                            <div class="cardcodebutton">
                                <a href="#" class="button">CODE</a>
                            </div>
                            <div class="carddetailbutton">
                                <a href="#" class="button">DETAIL</a>
                            </div>
                        </div>
                        <div class="card card-1">
                            <div class="cardimg">
                                <img src="{% static 'images/default.jpg' %}" alt="" width="100%" height="100%">
                            </div>
                            <div class="cardtxt">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt sunt officia odio deserunt labore nam maxime delectus earum ad consectetur? Modi porro animi exercitationem, praesentium amet debitis labore quis doloremque.
                                </p>
                            </div>
                            <div class="cardcodebutton">
                                <a href="#" class="button">CODE</a>
                            </div>
                            <div class="carddetailbutton">
                                <a href="#" class="button">DETAIL</a>
                            </div>
                        </div>
                        <div class="card card-1">
                            <div class="cardimg">
                                <img src="{% static 'images/default.jpg' %}" alt="" width="100%" height="100%">
                            </div>
                            <div class="cardtxt">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt sunt officia odio deserunt labore nam maxime delectus earum ad consectetur? Modi porro animi exercitationem, praesentium amet debitis labore quis doloremque.
                                </p>
                            </div>
                            <div class="cardcodebutton">
                                <a href="#" class="button">CODE</a>
                            </div>
                            <div class="carddetailbutton">
                                <a href="#" class="button">DETAIL</a>
                            </div>
                        </div>
                        <div class="card card-1">
                            <div class="cardimg">
                                <img src="{% static 'images/default.jpg' %}" alt="" width="100%" height="100%">
                            </div>
                            <div class="cardtxt">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt sunt officia odio deserunt labore nam maxime delectus earum ad consectetur? Modi porro animi exercitationem, praesentium amet debitis labore quis doloremque.
                                </p>
                            </div>
                            <div class="cardcodebutton">
                                <a href="#" class="button">CODE</a>
                            </div>
                            <div class="carddetailbutton">
                                <a href="#" class="button">DETAIL</a>
                            </div>
                        </div>
                        <div class="card card-1">
                            <div class="cardimg">
                                <img src="{% static 'images/default.jpg' %}" alt="" width="100%" height="100%">
                            </div>
                            <div class="cardtxt">
                                <p>
                                    Lorem ipsum
                                </p>
                            </div>
                            <div class="cardcodebutton">
                                <a href="#" class="button">CODE</a>
                            </div>
                            <div class="carddetailbutton">
                                <a href="#" class="button">DETAIL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of PROJECTS -->

    <!-- CONTACT -->
    <section id="contact">
        <div class="contact-section">
            <h1>Contact Me</h1>
            <h5>I’ll be glad to work with you</h5>
            <form class="contact-form" action="index.html" method="post">
              <input type="text" class="contact-form-text" placeholder="Name">
              <input type="email" class="contact-form-text" placeholder="Email">
              <input type="text" class="contact-form-text" placeholder="Subject">
              <textarea class="contact-form-text" placeholder="Message"></textarea>
              <input type="submit" class="contact-form-btn" value="Send">
            </form>
          </div>
    </section>
    <!-- End of CONTACT -->
    
    {% include 'portfolio_app/footer.html' %}
</body>
</html>