{% load static %}
<!-- Navigation Bar -->
<nav class="navbar">
    <div class="max-width">
        <!--Logo-->
        <div class="logo">
            <a href="#home"><img src="{% static 'images/logo.png' %}" alt="" width="203" height="77"></a>
        </div>
        <!--End of Logo-->
        <!--Text-->
        <div class="menu">
            <ul>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#projects">PROJECTS</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>
        <!--End of Text-->
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>
<!-- End of Navigation Bar -->